.container {
  padding: 20px;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  justify-content: center;
}

.button {
  width: 150px;
  height: 40px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #FFFFFF;
  background: #D49967;

  &:hover {
    background: #4589BB;
  }
}

@media (min-width: 1440px) {
  .container {
    padding: 20px 120px;
  }
}
