.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  width: 150px;
  height: 40px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #FFFFFF;
  background: #D49967;
}

.button:hover {
  background: #4589BB;
}

@media (min-width: 1440px) {
  .container {
    padding: 20px 120px;
  }
}
