@import "colors";

.breadcrumbsWithNewsImage {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.breadcrumbs {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: $blue-color;
}

.imageContainer {
  position: relative;
  aspect-ratio: 32 / 26;
  user-select: none;
}

.title {
  margin: 0;
  padding: 0;
  margin-top: 26px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: $black-color;
}

.sections {
  margin: 30px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media (min-width: 768px) {
  .breadcrumbsWithNewsImage {
    display: flex;
    flex-direction: column-reverse;
    gap: 22px;
  }
  .breadcrumbs {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: $blue-color;
  }
  .title {
    margin-top: 30px;
    font-size: 30px;
    line-height: 37px;
  }
  .sections {
    margin: 22px 0;
    gap: 14px;
  }
  .imageContainer {
    aspect-ratio: 6 / 4;
  }
}

@media (min-width: 1440px) {
  .imageContainer {
    aspect-ratio: 2 / 1;
  }
}
