.container {
  padding: 20px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    padding: 20px 84px;
    max-width: 992px;
  }
}

@media (min-width: 1440px) {
  .container {
    padding: 20px 320px;
    max-width: 1600px;
  }
}
