.contentFlow {
  margin-top: 30px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.accordion {
  margin-top: 30px;
}

.imagePreviewCol {
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

@media (min-width: 768px) {
  .contentFlow {
    margin-top: 22px;
    font-size: 14px;
    line-height: 17px;
  }
  .accordion {
    margin-top: 22px;
  }
}

@media (min-width: 1440px) {
}