.contentFlow {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.imagePreviewCol {
  aspect-ratio: 4 / 3;
  object-fit: cover;
  user-select: none;
}

.videoContentContainer {
  margin: 4px 0;
  display: flex;
  flex-direction: column;
  gap: 4px;

  h3 {
    margin: 0;
    padding: 0;
  }
}

.videoContent {
  width: 100%;
  aspect-ratio: 16 / 9;
  position: relative;

  iframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    border: 0;
  }
}

@media (min-width: 768px) {
  .contentFlow {
    font-size: 14px;
    line-height: 17px;
  }
  .videoContentContainer {
    margin: 8px 0;
    gap: 8px;
  }
}

@media (min-width: 1440px) {
  .videoContentContainer {
    gap: 12px;
  }
}